/* Header */
/*------------------------------*/

header {
	background: #333 url("/etc/sites/all/themes/etc3/images/background/tomdewittbluedot.jpg") no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.home {
	header {
		min-height: 220px !important;
	}
}
.artists {
	header {
		background: #333 url("/etc/sites/all/themes/etc3/images/background/boop3.jpg") no-repeat;
	}
}
.site-title {
	h1 { 
		a { 
			display: block;
			width: 196px;
			height: 204px;
			text-indent: -9999px;
			background: url("/etc/sites/all/themes/etc3/images/etc-logo-320.png") no-repeat;
		}
		a:hover { }
	}
}

.site-subtitle {
	h2 {
		font-weight: 400;
		font-size: 1.5em;
		color: $cornell-primary;
		text-transform: uppercase;
		margin-top: 55px; }
}


/* Main content on sub pages */
/*------------------------------*/
.main-content {
	padding: 50px 0;
	background: white;
}
// .home {
// 	.main-content { padding: 20px 0; }
// }

/* Home page */
/*------------------------------*/
.intro-text { 
	font-size: 18px;
	// background: url("../images/diagonal.png") repeat-x bottom;
	background: $charcoalGray;
	padding: 30px;
	margin: 0 0 30px;
	// background: rgba(0, 0, 0, 0.75);
	color: white;
	em { 
		font-style: normal;
		text-transform: uppercase;
		font-size: 24px;
		// color: white;
	}
}

.video-caption {
	margin: 20px 0;
}
.video-title {
	text-transform: uppercase;
	margin-bottom: .25em;
	font-size: 18px;
}
.video-info {
	font-size: 14px;
}
.video {
	// background: url("../images/diagonal.png") repeat-x bottom;
	// padding-bottom: 30px;
	h3 { margin: 0 0 .25em; }
}
.feature {
	margin-bottom: 30px;
	padding-bottom: 30px;
	background: url("/etc/sites/all/themes/etc3/images/diagonal.png") repeat-x bottom;
	p { font-size: 14px; }
	img { margin-bottom: .5em; }
}

/* Footer */
/*------------------------------*/
footer {
	margin: 20px 0;
	color: $footerText;
	.container { 
		background: $charcoalGray;
		padding: 30px 0; }
	ul.footer-nav {
		list-style: none;
		margin: 0 0 1em;
		padding-left: 0;
		li { 
			display: inline-block;
			font-size: 14px;
			border-left: 1px solid $mediumGray;
			padding: 0 5px 0 10px; }
		li:first-child { 
			border-left: none;
			padding-left: 0; }
		li.active { 
			color: white;
			a { color: white; }
		}
	}
	a { color: $lightGray; }
	a:hover { color: white; }
	p { font-size: 14px; }
	img { border: 0; }
}

/* Sidebar images */
/*------------------------------*/
.sidebar-image {
	clear: both;
	text-align: right;
	margin: 0 0 40px;
	img {
		border-bottom: 5px solid $red;
	}
}

/* Artist page */
/*------------------------------*/

.group-list {
    -moz-column-gap: 20;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -webkit-column-gap: 20;
    column-count: 3;
    column-gap: 20;
}

// Media queries
// -------------------------//

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	header {
		padding: 35px 0 25px;
	}
	.home {
		header {
			// min-height: 520px !important;
		}
	}
	.site-title {
		h1 { 
			a { 
				width: 421px;
				height: 111px;
				background: url("/etc/sites/all/themes/etc3/images/etc-logo.png") no-repeat;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {

}
