// Floated images
// -------------------------//
.img-right {
	margin: 0 0 20px 20px;
	width: 240px;
}
.img-center {
	margin: 20px 0;
	text-align: center;
}

// Breadcrumbs
// -------------------------//
.breadcrumb {
	background-color: white;
	padding: 0;
	margin-bottom: 40px;
	li {
		font-size: 12px;
	}
	a {
		color: $mediumGray;
	}
	a:hover {
		background: white;
		color: black;
	}
}